/* SNS ボタン */

.btn-icon-facebook:before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: -3px 5px 0 0;
    background: url("/css/img/facebook.svg") no-repeat;
    background-size: contain;
    color: white;
    vertical-align: middle;
}

.btn-icon-instagram:before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: -3px 5px 0 0;
    background: url("/css/img/instagram.svg") no-repeat;
    background-size: contain;
    color: white;
    vertical-align: middle;
}

.btn-icon-mail:before {
    content: "";
    display: inline-block;
    width: 18px;
    height: 18px;
    margin: -3px 5px 0 0;
    background: url("/css/img/envelope.svg") no-repeat;
    background-size: contain;
    color: white;
    vertical-align: middle;
}

.btn {
    display: inline-block;
    border-color: #eeeeee;
    color: #fff; /* 文字色 */
    padding: 12px 20px; /* 上下の余白、左右の余白 */
    text-decoration: none; /* デフォルトで入るリンクの下線を消す */
    border-radius: 5px; /* 角を丸くする */
}

